@page "/vehicles/"
@inject HttpClient client
@inject IJSRuntime js
@attribute [Authorize]

<HeadingComponent Text="Vehicles" />
<br />

<a href="/vehicles/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Vehicle
</a>
<br />
<br />

@if (vehicles == null)
{
    <div class="alert alert-info">Loading Vehicles...</div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Year</th>
                <th>Daily Rate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vehicle in vehicles)
            {
                <tr>
                    <td>@vehicle.Make.Name</td>
                    <td>@vehicle.Model.Name</td>
                    <td>@vehicle.Year</td>
                    <td>@vehicle.RentalRate</td>
                    <td>
                        <a href="/vehicles/view/@vehicle.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/vehicles/edit/@vehicle.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(vehicle.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Vehicle> vehicles;

    protected async override Task OnInitializedAsync()
    {
        vehicles = await this.client.GetFromJsonAsync<List<Vehicle>>(EndPoints.VehiclesEndPoint);
    }

    async Task Delete(int vehicleId)
    {
        var vehicle = vehicles.First(x => x.Id == vehicleId);
        bool confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {vehicle.LicensePlateNumber}?");
        if (confirm)
        {
            await client.DeleteAsync($"{EndPoints.VehiclesEndPoint}/{vehicle.Id}");
            await OnInitializedAsync();
        }
    }
}
